@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

@mixin center {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

body {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	height: 100vh;
	font-family: "Poppins", sans-serif;

	@include center;

	.items {
		background: #eee;
		padding: 10px;
		border-radius: 8px;
		box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

		h1 {
			text-align: left;
			color: #181818;
			margin: 10px;
			padding-top: 50px;
			line-height: 0;

			span {
				color: #898989;
			}
		}

		p {
			text-align: left;
			color: #181818;
			font-weight: bold;
			padding: 2px 10px;
		}

		input {
			padding: 8px 10px;
			border-radius: 4px;
			border: none;
			width: 240px;
			margin: 5px 10px;
			font-family: "Poppins", sans-serif;
			font-weight: bold;

			&:focus {
				border: none;
				outline: none;
			}
		}
		button {
			border-radius: 8px;
			margin: 10px;
			padding: 4px 20px;
			border: 2px solid #898989;
			font-weight: bold;
			cursor: pointer;
			font-size: large;
			color: #898989;
			background: 0;
			font-family: "Poppins", sans-serif;
			&:hover {
				color: #212121;
			}
			&:active {
				scale: 1.1;
				border: 2px solid #212121;
			}
		}

		.center {
			padding: 0 0 5px 0;
			p {
				padding-top: 20px;
				color: #181818;
				text-align: center;
				font-weight: bold;
				line-height: 5px;
			}
			img {
				cursor: pointer;
				margin: 9px;
				padding-bottom: 20px;
				&:hover {
					scale: 1.2;
				}
			}
		}
	}
}
